.todo {
    display: flex;
    flex-direction: column;
    height: 17rem;

    .todo-input {
        display: flex;
        margin: 0.5rem 0 1.5rem 0;
        align-items: stretch;

        input {
            flex: 1;
            margin-right: 0.5rem;
            font-size: 1.2rem;
        }
    }

    .todo-list {
        flex: 1;
        overflow-y: auto;

        .todo-entry {
            clear: both;
            border-bottom: 0.1rem solid #aaa;
            padding: 0.5rem 0;

            label {
                display: inline-block;
            }

            span {
                margin-left: 1rem;
            }

            .btn {
                float: right;
                color: darkred;
                display: none;
            }

            &:hover > .btn {
                display:inline-block;
            }

            &.completed {
                span {
                    text-decoration: line-through;
                    color: #aaa;
                }
            }
        }
    }

    .toggles {
        margin-top: 1rem;
        flex: 0;

        .deleteCompleted {
            float: right;
            color: white;
            font-size: 0.8rem;
        }
    }


}

.todo-card {
    background: slateblue;

    h3, label, input {
        color: white;
    }

    input::placeholder {
        color: #ddd;
    }
}
